.banner {
    background-image: url("../images/image-banner.png");
    height: 250px;
    background-size: cover;
    background-position: center;
}

.navbar__item {
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
}